@import "_base"
@import "../../node_modules/bulma/bulma"
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Open+Sans:ital,wght@0,400;0,500;1,400&display=swap')

html
    background: #fff

header
    .navbar
        color: white
        background: $color-black
        box-shadow: 0px 0px 5px 1px rgba(106, 103, 103, 0.7)
        #mainMenu
            .navbar-item a, .navbar-item a:link
                color: white
                &:hover, &:active
                    color: #7a7a7a
    .navbar-brand
        a, a:hover, a:link, a:active
            color: white
            font-size: 28px
            font-family: $font-pacifico

.banner
    background: black bottom/cover no-repeat
    min-height: 38vh
    font-family: $font-pacifico
    .heart
        width: 100%
    svg
        display: block
        color: red
        margin: 0 auto
        

@media screen and ( max-width: 1023px)
    header .navbar-brand
        margin-bottom: -60px         
    header .navbar-menu
        margin-top: 60px      
        background: $color-black 
    header a.navbar-burger
        color: $color-white

figure.winston-home-banner  img
    max-width: 400px

.section-anxiety 
    .column-1
        padding-top: 4.5em
    img 
        max-width: 300px
        margin: 0 auto

#Contact
    h2 > svg
        color: $color-blue

@media screen and ( max-width: 1023px)
    .section-anxiety 
        padding-top: 0 

#About p
    font-style: italic
    margin-bottom: 1em

.blog-grid a.box
    width: 24%
    display: block
    div 
        width: 100%
        height: 9em
    p
        line-height: 1.5
    &, &:link, &:active, &:hover
        color: inherit

.featured-image
    max-width: 500px

.comments
    background: #121212

.post-content
    max-width: 700px
    margin: 0 auto
    line-height: 1.7
    letter-spacing: 0.2px

    h2, h3
        @extend .is-4
        @extend .title
    
    h4, h5, h6
        @extend .is-6
        @extend .title

    p:not(:last-child)
        margin-bottom: 2em

footer 
    .footer-nav a 
        display: block
    .extra-links a, .social-icons a
        &:target, &:link, &:active, &:visited
            color: $color-white 
        &:hover, &:focus, .is-hover
            color: $color-blue 


//Social share buttons
.social-share-floating-bar
  position: fixed
  top: 50%
  -webkit-transform: translateY(-50%)
  transform: translateY(-50%)

  a
    display: block
    transition: all 0.3s ease
    padding: 16px
    color: #fff
    font-size: 20px
    text-align: center

.social-share-btns-container
  font-size: 14px
  text-align: center

.social-share-btns
  display: inline-block

  .share-btn
    margin: 0 5px
    padding: 4px 8px
    color: #fff

    i
      display: inline-block
      margin-right: 5px

.share-btn
  background-color: #95a5a6

  &:hover, &:active, &:visited
    background-color: #798d8f
    text-decoration: none

.share-btn-twitter
  background-color: #00aced

  &:hover, &:active, &:visited
    background-color: #0087ba

.share-btn-facebook
  background-color: #3b5998

  &:hover, &:active, &:visited
    background-color: #2d4373

.share-btn-linkedin
  background-color: #007bb6

  &:hover, &:active, &:visited
    background-color: #005983
//End social share buttons