---
layout: layouts/default.liquid
title: Resources
date: 2022-11-17
tags: 
---

<div class="container px-5 pt-5 mt-5">
    <h2 class="title is-3">Downloads</h2>
    <div class="downloads-grid">
        <a href="/downloads/pdf/fighting-negative-thought-patterns.pdf" target="_new" class="download is-flex is-align-items-center">
            <img src="/img/pdf.png" class="mt-1 my-3" alt="pdf" />
            <span>
                <h3 class="title is-6">Confessions for the battle in your mind</h3>
            
            </span>
        </a>
        <a href="https://vintagelawrence.com/wp-content/uploads/2013/01/ANDERSON_WhoIAmInChrist.pdf" target="_new" class="download is-flex is-align-items-center">
            <img src="/img/pdf.png" class="mt-1 my-3" alt="pdf" />
            <span>
            <h3 class="title is-6">Who I am in Christ (Neil Anderson)</h3>
            <p>Credits to Vintage Church for hosting this file on their website</p>
            </span>
        </a>    
    </div>
    <h2 class="title is-3">Helpful Links</h2>
    <div class="downloads-grid">
        <a href="/downloads/pdf/fighting-negative-thought-patterns.pdf" target="_new" class="download is-flex is-align-items-center">
            <span class="ml-0">
                <h3 class="title is-6">Covenant eyes blog</h3>
                <p>https://www.covenanteyes.com/blog/</p>
            </span>
        </a>
    </div>
</div>

