---
layout: layouts/core/base.liquid
permalink: "{{ title | slugify }}/"
---

<section class="banner is-flex is-flex-wrap-wrap is-align-items-center is-justify-content-center">
    <h2 class="title is-3 has-text-centered has-text-white has-text-weight-normal">Let God's love tranform you!
        <div class="heart">
            <span class="fas fa-heart"></span>
        </div>
    </h2>
</section>

<section class="my-5">
    <div class="container is-max-desktop px-5 pt-5 mt-5">
        <div class="content">
            {{ content }} 
        </div>
    </div>
</section>