---
layout: layouts/core/base.liquid
permalink: "{{ title | slugify }}/"
---

<section class="my-5">
    <div class="container px-5 pt-5 mt-5">
        <div class="content content">
            {{ content }} 
        </div>
    </div>
</section>