---
layout: layouts/core/base.liquid
permalink: "/posts/{{ title | slugify }}/"
---

<div class="container px-5 pt-5 mt-5">
    <div class="content post-content">
            {{ content }} 
    </div>
</div>