---
layout: layouts/core/base.liquid
title: Welcome
---

<section class="container mb-6">
    <div class="columns is-centered is-multiline mt-6">
        <div class="column is-flex is-justify-content-center pb-0">
            <figure class="image is-64x64">
                <img src={{'/img/bible.png'}} alt="Bible">
            </figure>
        </div>
    </div>
    <div>
        <h1 class="title is-2 has-text-centered">Welcome</h1>
        <p class="has-text-centered mb-5 mx-5">Grab a cup of coffee and settle in. <br/>I write reflections on Scripture, everyday faith, and life with Jesus.</p>
        {% comment %} <a class="button is-centered is-blue" href="/posts/">Start Reading</a> {% endcomment %}
    </div>
</section>

<section class="section is-small bg-custom-grey section-youtube-video">
    <div class="center">
        <lite-youtube videoid="LQO3YYb6k3g" style="background-image: url('https://i.ytimg.com/vi/LQO3YYb6k3g/maxresdefault.jpg');" playlabel="Play: Welcome" ></lite-youtube>
    </div>
</section>

<section class="section is-medium bg-custom-dark section-style-1">
    <div class="columns">
        <div class="column column-1 content">
            <h2 class="title has-text-white">Casting Life's Cares Upon Him</h2>
            <p class="subtitle has-text-white mt-5">
                When you pass through the waters, God will be with you. Even in the rivers, they cannot overwhelm you. Not one of God's plans can be thwarted. Read on to know how you can anchor your trust in God amidst life's uncertainties.
            </p>
            <a class="button is-blue-inverted my-3" href="/posts/casting-your-cares/">Read Post</a>
        </div>
        <div class="column column-2">
            <img class="image" src="/img/stress.png" alt="Anxiety">
        </div>
    </div>
</section> 

<section class="section is-medium bg-custom-grey section-style-2">
    <div class="columns">
        <div class="column column-1">
            <img class="image" src="/img/depression.png" alt="Depression, Suffering">
        </div>
        <div class="column column-2 content">
            <h2 class="title">Finding Strength in the Struggle - Shame And Suffering</h2>
            <p class="subtitle mt-5">Emotional hurt and pain can often feel more burdensome than physical affliction. The weight of suffering bears down heavily upon us, often sapping our strength.</p>
            <p class="subtitle mt-5">Have you reached the point of surrender? Jesus beckons, "Come to me, all who labor and are heavy laden, and I will give you rest." Let's lean into Jesus and learn from Him.</p>
            <a class="button is-blue my-3" href="/posts/marys-shame-and-suffering/">Read Post</a>
        </div>
    </div>
</section>

<section id="Contact" class="container is-max-desktop">
    <h2 class="title has-text-centered is-3 is-spaced mt-5 pt-5">Write Me a Message <br><span class="pt-5 fa-solid fa-paper-plane fa-lg"></span></h2>
    
    <section class="section columns is-centered is-max-desktop">
        <div class="column is-half">
            <form action="https://usebasin.com/f/6a6af5c970b8" method="POST"
        enctype="multipart/form-data"
        id="form" target="_blank">
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                        <input class="input" type="text" name="name" placeholder="Enter your name" required>
                    </div>
                    </div>

                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" name="email" type="email" placeholder="Email" required>
                            <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                    </div>


                    <div class="field">
                    <label class="label">Message</label>
                    <div class="control">
                        <textarea class="textarea" name="message" placeholder="What would you like to tell me?" required></textarea>
                    </div>
                    </div>

                    <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-blue my-3" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</section>

<section class="bg-custom-dark">
    <div class="container is-max-desktop ">
        <section id="About" class="section is-small columns level">
            <div class="column is-one-third level-item">
                <h2 class="title is-2 is-spaced has-text-white"><span class="title is-5 has-text-white">Hi-Ya!</span>
                <br/><span class="font-special">I'm Winston</span></h2>
                <div class="subtitle is-5 is-spaced has-text-white mt-5 pr-6 mr-6">
                    <p>I savor a delightful cup of <i class="red fa-solid fa-mug-hot fa-lg">coffee</i> while I embark on the quest to uncover timeless wisdom hidden within the pages of the Bible. Since the age of 16, I've felt the unmistakable call of God upon my life, though the path has been strewn with challenges. My heart beats with a fervent desire to witness revival, a flame that won't dim until that day arrives. <i class="fa-solid fa-fire fa-lg"></i></p> 
                    
                    <p>Beyond my spiritual journey, I'm also a seasoned full-stack developer. Beginning as a freelance website developer, I've since evolved, yet the joy of crafting websites still holds a special place in my heart." <i class="fa-regular fa-face-smile fa-lg"></i></p>
                </div>
            </div>
            <div class="column level-item px-2">
                <figure class="image is-rounded winston-home-banner">
                    <img class="is-rounded" src={{'/img/winston.jpg'}} alt="Winston Jude">
                </figure>
            </div>
        </section>
    </div>
</section>

<script type="module" src="https://cdn.jsdelivr.net/npm/lite-youtube-embed@0.2.0/+esm" async></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lite-youtube-embed@0.2.0/src/lite-yt-embed.css" />
