---
layout: layouts/core/base.liquid
title: Welcome Home!
---

<section class="container mb-6">
    <div class="columns is-centered is-multiline mt-6">
        <div class="column is-flex is-justify-content-center pb-0">
            <figure class="image is-64x64">
                <img src={{'/img/bible.png'}} alt="Bible">
            </figure>
        </div>
    </div>
    <div>
        <h1 class="title is-2 has-text-centered"> <span class="title is-4">Hey there!</span><br/> Welcome</h1>
        <p class="has-text-centered mb-5">You'll find my articles, unfinished Bible notes <br /> and other Jesus-related stuff here.</p>
        <a class="button is-centered is-blue" href="/posts/">Start Reading</a>
    </div>
</section>

<section class="section is-medium bg-custom-dark section-anxiety">
    <div class="columns">
        <div class="column column-1">
            <h2 class="title has-text-white">Struggling with anxiety and worry?</h2>
            <p class="subtitle has-text-white mt-5">
                When you pass through the waters, God will be with you. Even in the rivers, they cannot overwhelm you. Not one of God's plans can be thwarted. Read on to know how you can trust God today!
            </p>
            <a class="button is-blue-inverted" href="/posts/casting-your-cares/">Read more</a>
        </div>
        <div class="column column-2">
            <img class="image" src="/img/stress.png" alt="Anxiety">
        </div>
    </div>
</section> 

<section class="section is-medium bg-custom-grey section-anxiety">
    <div class="columns">
        <div class="column column-1">
            <img class="image" src="/img/boy-computer.png" alt="Anxiety">
        </div>
        <div class="column column-2 content">
            <h2 class="title">Are you overwhelmed by lust?</h2>
            <p class="subtitle mt-5">
                Pornography and lust have consumed our generation. Statistics reveal 76% of young Christian men suffer from an addiction to porn. Have you almost given up the fight? Jesus is calling you. The Bible instructs, "Come to me, all who labor and are heavy laden, and I will give you rest." Freedom is found in his arms!</p>
            <a class="button is-blue" href="/posts/casting-your-cares/">Find Freedom!</a>
        </div>
    </div>
</section> 

<section id="Contact" class="container is-max-desktop mt-5">
    <h2 class="title has-text-centered is-3 is-spaced mt-5 pt-5">Write me a Message <br><span class="pt-5 fa-solid fa-paper-plane fa-lg"></span></h2>
    
    <section class="section columns is-centered is-max-desktop">
        <div class="column is-half">
            <form action="https://usebasin.com/f/6a6af5c970b8" method="POST"
        enctype="multipart/form-data"
        id="form" target="_blank">
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                        <input class="input" type="text" name="name" placeholder="Enter your name" required>
                    </div>
                    </div>

                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" name="email" type="email" placeholder="Email" required>
                            <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                    </div>


                    <div class="field">
                    <label class="label">Message</label>
                    <div class="control">
                        <textarea class="textarea" name="message" placeholder="What would you like to tell me?" required></textarea>
                    </div>
                    </div>

                    <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-blue" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</section>

<section class="bg-custom-dark">
    <div class="container is-max-desktop ">
        <section id="About" class="section-1 section is-small columns level">
            <div class="column is-one-third level-item">
                <h2 class="title is-2 is-spaced has-text-white"><span class="title is-5 has-text-white">Hi-Ya!</span>
                <br/><span class="font-special">I'm Winston</span></h2>
                <div class="subtitle is-5 is-spaced has-text-white mt-5 pr-6 mr-6">
                    <p>I love a good cup of <i class="red fa-solid fa-mug-hot fa-lg"></i> while I read my Bible. God set me apart to serve him when I was 16, but the journey hasn't been the easiest to navigate. My heart burns to see revival and my joy will never be complete until I see revival. <i class="fa-solid fa-fire fa-lg"></i></p> 
                    
                    <p>During the week, I work as a full-stack developer. I started off my career as a freelance developer. I no longer build websites but I may be able to help you... write me a message? <i class="fa-regular fa-face-smile-wink fa-lg"></i></p>
                    
                    <p></p> 
                </div>
            </div>
            <div class="column level-item px-2">
                <figure class="image is-rounded winston-home-banner">
                    <img class="is-rounded" src={{'/img/winston.jpg'}} alt="Winston Jude">
                </figure>
            </div>
        </section>
    </div>
</section>


